.you-dont-have-project .text {
  max-width: 460px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #585d6c;
}

.common-block.project {
	margin-top: 24px;
  width: 100%;
}

.project-post-block {
	display: flex;
	flex-direction: column;
}

.action-post {
	left: -15px;
	padding-left: 0;
	padding-right: 0;
}

@media screen and (min-width: 350px) {
	.project .content {
		padding-left: 0;
	}
}
.common-block .main-photo {
  max-width: 250px;
}

@media screen and (max-width: 600px) {

  .project.common-block .main-photo {
    max-width: 7em;
    padding: 1em;
    margin-left: 15px;
    position: relative;
    height: 7em;
  }

  .project.common-block .main-photo .photo-block {
    border-radius: 4px;
    overflow: hidden;
  }

  .project .title {
    font-size: 1.5em !important;
  }

  .project .top-block {
    padding-bottom: 0 !important;
    padding-top: 1em !important;
  }

  .project .bottom-block {
    padding: 1em 0 !important;
  }

  .project .author {
    padding: 0 !important;
  }
}

@media screen and (max-width: 350px) {

  .common-block .main-photo {
    max-width: 100%;
  }
	.project .top-block, .project .bottom-block {
		padding-left: 15px  !important;
		padding-right: 15px  !important;
	}
	.project .top-block, .project .backgrond-funny {
		border-radius: 3px 3px 0 0 !important;
	}
	.project .bottom-block {
		border-radius: 0 0 3px 3px;
	}

	.action-post {
    padding-left: 15px;
    left: 0;
    padding-right: 15px;
	}

  .common-block .main-photo {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }


  .common-block .main-photo .image {
    opacity: .3;
  }

  .common-block .main-photo + .content .top-block p, .common-block .main-photo + .content .top-block a {
    color: #fff !important;
  }
}
