form.row.jc-sb([formGroup]="myForm")
  div.col-sm-3.in-flex
    svg-icon.search-icon(src="assets/search.svg" block="mh-svg" mod="common")
    input.search-input(name="text", placeholder="Some text", type="text", formControlName="text")
    svg-icon.search-cancel(src="assets/clear.svg" block="mh-svg" mod="common")
  div.in-flex.col-md-4.row
    div.col-sm-6.in-flex.jc-sb
      label.mark-text(for="select-one") Show
      select.material-input(name="typeProject", formControlName="typeProject")
        option([value]="type", *ngFor="let type of typeProjects", [selected]="type == typeProject") {{ type }}
    div.col-sm-6.in-flex.jc-sb
      label.mark-text(for="select-two") Sorted by
      select.material-input(name="typeOrder", formControlName="typeOrder")
        option([value]="type", *ngFor="let type of typeOrders", [selected]="type == typeOrder") {{ type }}

