div.container
  div.row
    div.common-block.project
      div.block-mask.block-common-style
      div.col-md-3.main-photo.col-xs-12.col-sm-3
        div.background-grey.photo-block
          a.image( routerLink="/project/{{ id }}" routerLinkActive="active")
            cn-img-key([key]="imageKey" [capImage]="capImage" [image]="image")
            //-[key]="image"
      div.content.col-md-9.col-xs-12.col-sm-9
        div.top-block
          div(class="settings-block")
            div
              p {{ date | amDateFormat: 'MMM D, h:mm A' }}
              div(*ngIf="isOpenSettings", routerLink="/project/edit/{{ id }}", routerLinkActive="active")
                svg-icon(src="assets/settings.svg" block="mh-svg" mod="common awesome small-white")
          div
            p.title
              a(routerLink="/project/{{ id }}", routerLinkActive="active") {{ title || "New project" }}
            p.subtitle([ngClass]="{'subtitle-notset': !subtitle }") {{ subtitle || 'Стутус не определен' }}
          span.description
            p.context Description
            p.text([ngClass]="{'subtitle-notset': !subtitle }") {{ description || 'Описание не добавлено' }}
        div.bottom-block
          span.author(*ngIf="_post != null && _post.sender != null")
            div.thumbnail
              cn-img-key.photo-mini(styles="ng-thumb" [key]="_post.sender.photo")
            div.text-block.three-line
              p.context {{ _post.sender.role }}
              p.username {{ _post.sender.name }}
              p.message {{ _post.textInfo }}
          //-span.author(*ngIf="_post == null && owner != null")
            div.thumbnail
              cn-img-key.photo-mini(styles="ng-thumb" [key]="owner.photo")
            div.text-block.three-line
              p.context Creator
              p.username {{ owner.name }}
