div.center-block.you-dont-have-project(*ngIf="project == null")
  h1.text {{ title }}
div(*ngIf="project != null", [infiniteScrollDistance]="2", [infiniteScrollThrottle]="300", (scrolled)="onScroll()", infinite-scroll)
  project-list-elem([title]="project.title", [description]="project.description", subtitle="{{ (project.lastStatus) ? project.lastStatus.text : null }}", [imageKey]="project.image", [id]="project.id", [manager]="project.manager", [date]="project.date", [isOpenSettings]="project.editable")
  div.container.project-post-block
    div.row.jc-fe
      div.common-block.col-sm-9.col-xs-12.action-post.np(*ngIf="project.editable")
        div.content.block-common-style
          div.top-block
            menu-block(*ngFor='let element of actions; let i = index; trackBy: trackByFn', [title]="element.title", [ischecked]="element.id == actionCheckedID", [action]="element.action")
          div.bottom-block
            form.form-block.row([formGroup]="myForm")
              div.col-xs-12.row(*ngIf="actionCheckedID == 0")
                div.input-block.col-sm-9.col-xs-12
                  message-form(shorten="false", [limit]="congif.MESSAGE_MAX_LENGTH", formControlName="text", name="text", [(collection)]="collectionMessage")
                  invalid-message([errors]="myForm.controls.text.errors", [list]="listMessages.message")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="addPost(myForm.value, myForm.valid)") Add post
            form.form-block.row([formGroup]="myFormStatus")
              div.col-xs-12.row(*ngIf="actionCheckedID == 1")
                div.input-block.col-xs-12.col-sm-9
                  input(name="text", placeholder="New status", type="text", formControlName="text", id="text")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="changeStatus(myFormStatus.value, myFormStatus.valid)") Change status
            form.form-block.row([formGroup]="myFormClients")
              div.col-xs-12.row(*ngIf="actionCheckedID == 2")
                div.input-block.col-xs-12.col-sm-9
                  email-tag(placeholder="Add manager clients", id="clients", formControlName="clients", name="clients")
                div.col-sm-3.col-xs-12.f-right
                  button.cbutton((click)="updateClients(myFormClients.value, myFormClients.valid)") Update
    div.row.jc-fe
      div.common-block.col-sm-9.col-xs-12.post.action-post(*ngFor="let post of posts")
        post([post]="post")
