div.container
  div.row
    div.common-block.project
      div.block-mask.block-common-style
      div.col-md-3.main-photo.col-xs-12.col-sm-3
        div.backgrond-funny
          a.image( routerLink="/project/{{ id }}" routerLinkActive="active", *ngIf="image")
            //-imgsb([key]="image")
      div.content.col-md-9.col-xs-12.col-sm-9
        div.top-block
          div(class="settings-block")
            div
              p.hidden-xs {{ date | amDateFormat: 'MMM D, h:mm A' }}
              div(*ngIf="isOpenSettings", routerLink="/project/edit/{{ id }}", routerLinkActive="active")
                svg-icon(src="assets/settings.svg" block="mh-svg" mod="common awesome small-white")
          div
            p.title
              a(routerLink="/project/{{ id }}", routerLinkActive="active") {{ title || "New project" }}
            p.subtitle(*ngIf="subtitle") {{ subtitle }}
        div.bottom-block
          span.description
            p.context Description
            p.text {{ description }}
          span.author(*ngIf="post != null && post.sender != null")
            div.thumbnail
              //-imgb.photo-mini([key]="post.sender.photo", styles="ng-thumb")
            div.text-block.three-line
              p.context {{ post.sender.role }}
              p.username {{ post.sender.name }}
              p.message {{ post.message || post.status }}
