img.load-img(*ngIf="loading" src="assets/loading.gif" alt="loading")
img(*ngIf="!loading && !img" [src]="default" alt="default")
img(*ngIf="img" [hidden]="loading" [src]="img" (error)="updateUrl($event)" (load)="onLoad()")

