form.row.jc-sb([formGroup]="myForm")
  div.col-sm-3.col-sm-6.col-xs-12.in-flex.search-block([ngClass]="{'js-hidden-border': !isSetText}")
    label(for="search")
      svg-icon.search-icon(src="assets/search.svg" block="mh-svg" mod="common")
      input#search.search-input(name="text", type="text", formControlName="text")
      svg-icon.search-cancel(src="assets/clear.svg", block="mh-svg", mod="common", *ngIf="isSetText", (click)="clearText()")
    div.search-input-line(*ngIf="isSetText")
  div.in-flex.col-xs-12.col-sm-6.col-md-6
    div.row
      div.col-sm-6.col-xs-12.in-flex.jc-sb
        label.mark-text(for="select-one") Show
        fh-select([elements]="typeProjects", name="typeProject", formControlName="typeProject")
      div.col-sm-6.col-xs-12.in-flex.jc-sb
        label.mark-text(for="select-two") Sorted by
        fh-select([elements]="typeOrders", name="typeOrder", formControlName="typeOrder")

