div#header-wrapper
  div.container.main-block
    div.row
      div.col-sm-8
        h2
          | Controlio is a ridiculously
          br
          | simple status report system
        p Let’s say you are a small busines owner – either B2B or B2C; and you have around 10 clients a month who needs to be constantly updated about their order. Instead of waiting on them to take action do something proactive. Everybody will love it!
        p Use controlio to update clients with photos, statuses and posts about their order. It’s as simple as posting a photo on Facebook! Clients will instantly get updates to their phones with the whole purchase history.
        div.in-flex.row.jc-fs.app-links-block
          mh-button(title="Sign Up Today!",mods="big padding sign-up radius margin",text-mods="sign-up", routerLink="signup", routerLinkActive="active")
          a.apple-button(href="https://itunes.apple.com/ca/app/controlio/id997857994?mt=8")
            img.apple-button__img(src="assets/app-store.svg" alt="")
          a.apple-button(href="https://play.google.com/store/apps/details?id=ru.adonixis.controlio")
            img.apple-button__img(src="assets/play-store.svg" alt="")
            //-a(href="#")
            //-img (src="assets/play-store.svg" alt="")
      div.col-sm-4.text-center.hidden-xs
        img.iphone-phote(src="assets/phone-preview.png" alt="" class="phone-img")
  div.control.text-center
    a(href="#middle-part") More info about Controlio


div#middle-part
  div.container
    div.row
      div.col-sm-6
        h2 But who else can use controlio to make management easier?
        p Restaurants that deliver, software dev shops, designers, freelancers, builders, producers, writers, any public figure; almost any B2B or B2C company. Just contact us and we will try to suggest a use of Controlio that will optimize your business.
      div.col-sm-6.hidden-xs.middle-part__img-block
        img(src="assets/middle-part.jpg" alt="" style="width: 100%")

div.end-part
  div.container
    div.row
      h2.text-center Why using controlio?
    div.row
      div.eye.hidden-xs
      div.col-sm-6.right-border.col-xs-12
        h3.text-center.business Business
        hr
        ul.list.left-list.text-left
          li Keep clients up-to-date
          li Quickly send status reports
          li Privately post pictures to clients
      div.col-sm-6.col-xs-12
        h3.text-center.client Client
        hr
        ul.list.right-list.text-right
          li Receive purchase updates
          li Get pictures of you order
          li Track contractors' work
