div
  form.form-modal.form-block([formGroup]="myForm")
    div.remove-project(*ngIf="isEdit")
      div.remove((click)="archiveProject()", *ngIf="!isArchived")
        svg-icon(src="assets/archive.svg" block="mh-svg" mod="common awesome" style="width: 21px;margin: -3px 0;")
        p Archive project
      div.remove((click)="removeProject()", *ngIf="isArchived")
        svg-icon(src="assets/delete.svg" block="mh-svg" mod="common awesome")
        p Delete project
    h1 {{ typeWindow }}
    div.row
      div.input-block.col-sm-6
        label.context(for="title") Title
        input(name="title", placeholder="New project", type="text", formControlName="title", id="title")
      div.input-block.col-sm-6(*ngIf="!isEdit")
        label.context(for="status") Initial status
        input(name="status"  placeholder="Status", type="status", formControlName="status", id="status")
    div.row
      div.input-block.col-xs-12
        label.context(for="managers") Project manager
        //-select-user([event]="event_click", name="manager", class="select-user-block", type="manager", id="manager", [input]="manager", (valueChange)="valueChange($event)", [users]="users")
        email-tag(placeholder="Add manager emails", id="managers", formControlName="managers", name="managers")
    div.row
      div.input-block.col-xs-12
        limit-input([label]="'Description'", formControlName="description", name="description")
    div.row.jc-sb
      div.input-block.col-xs-12
        label.context(for="clients") Clients
        email-tag(placeholder="Add client emails", id="clients", formControlName="clientEmails", name="clientEmails")
    div.row.jc-sb
      div.input-block.col-sm-8.col-xs-12
        label.context Thumnail
        file-upload([(collection)]="collectionFiles", maxCount="1")
      div.input-block.col-sm-3.col-xs-12.f-right.align-center
        mh-button((click)="save(myForm.value, myForm.valid)",[title]="typeWindow",mods="big padding common radius margin all-width",text-mods="common")
