// .author, .file_upload {
//   padding: 6px 0;
// }

.author ~ .file_upload {
  padding-left: .7em;
}

.file_upload {
  // height: 3.8em;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  display: inline-flex;
}

.file_upload button {
  width: 140px;
  border-radius: 3px;
  border: solid 1px #585d6c;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  color: #585d6c;
  text-align: center;
}

.file_upload p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.5em;
  padding: 0 2em;
  color: rgba(88, 93, 108, 0.5);
}

.file_upload input {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

.file_block {
  display: inline-flex;
}
