div.app-block([ngClass]="{'visitor': !isAccess, 'in-system': isAccess }", (click)="sendEvent($event)")
  //-app-modal-center
  img-gallery
  include top.pug
  router-outlet
footer.end-part
  div.container
    div.clearfix
    hr
    p.text-center © 2016 Controlio (ridiculously simple status report system)
