doctype html
html
  head
    base(href="/")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    //-link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet", href="/css/styles.min.css")
    link(rel="stylesheet", href="/css/mini-bootstrap.css")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    script(src="js/systemjs.config.js")
    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="https://checkout.stripe.com/checkout.js")
  body.ready-view
    block content

