div
  form.form-modal.form-block([formGroup]="myForm")
    h1 Account Recovery
    p.subtitle(*ngIf="!sendEmail") Enter your email address and we'll help you reset your&nbsp;password.
    p.subtitle.send-email-message(*ngIf="sendEmail") We sent link for reset password to your ✉&nbsp;email&nbsp;({{ email }})
    error-message([error]="error")
    div.input-block([ngClass]="{'invalid-i': myForm.controls.email.errors != null && myForm.controls.email.touched }", *ngIf="!sendEmail")
      label.context(for="email") Email
      input(name="email", placeholder="Your email", type="email", formControlName="email")
      invalid-message([errors]="myForm.controls.email.errors", [list]="listMessages.email", [show]="myForm.controls.email.touched")
    button.cbutton(type="submit", *ngIf="!sendEmail", (click)="save(myForm.value, myForm.valid)", [disabled]="myForm.invalid && myForm.controls.email.touched", [ngClass]="{'disabled': myForm.invalid && myForm.controls.email.touched }") Recover
    a.under-link(routerLink="/login") Back to sign in
