div.row.jc-fs.nav-block
  div.col-md-3.col-sm-3.col-xs-3.logo-block-parent
    a.logo-block.jc-fs-xs.jc-sa-md(routerLink="/")
      img.logo-icon.hidden-sm.visible-xs-block.visible-md-block.visible-lg-block(src="assets/logo.svg")
      img.logo-title.hidden-xs(src="assets/logo-title.svg")
  div.col-md-4.in-flex.col-sm-3.col-xs-3.pages-block
    div.burger-block.menu-block.hidden-md.hidden-lg([ngClass]="{'checked': ischecked }", *ngIf="burgerShow")
      a.main((click)="openBurger()")
        img.icon.burger-icon(src="assets/menu.svg")
        p.text-label Menu
      burger-drop-down-list([data]="burger_list", #burger)
    div.row.hidden-sm.hidden-xs.jc-fs(*ngIf="isAccess")
      menu-block(*ngFor='let element of pages; let i = index; trackBy: trackByFn', [title]="element.title", [ischecked]="element.ischecked", [url]="element.url", [icon]="element.icon", [class]="element.css", [action]="element.action")
  div.col-md-5.d-flex.col-sm-6.col-xs-6.jc-fe.right-block
    div.row.all-width.jc-fe(style="padding-right: 30px")
      menu-block([title]="addProject.title", [ischecked]="addProject.ischecked", [url]="addProject.url", [icon]="addProject.icon", [class]="addProject.css", [action]="addProject.action", *ngIf="isAccess")
      user-small-info([userValue]="userService", *ngIf="isAccess")
      //-div.language-block.menu-block([ngClass]="{'checked': ischecked, 'full-view': languageFullView }", *ngIf="isAccess")
        a((click)="menuCenter.openMenuOrClose(menuCenter.MENU.LanguageMenu)")
          img(src="assets/u-s.svg", class="icon")
        language-drop-down-list([event]="event", [open]="menuCenter.isOpenMenu(menuCenter.MENU.LanguageMenu)", (closedChange)="menuCenter.closeMenu($event)")
      div.sign-buttons.jc-fe(*ngIf="!isAccess")
        a(routerLink="get-magic-link", routerLinkActive="active")
          button
            p Sign In
        a(routerLink="signup", routerLinkActive="active")
          button
            p Sign Up
