div.check-password-indicator([ngClass]="strongClass")
  span
  span
  span
  span
div.error(*ngIf="errors != null && show")
  small(*ngFor="let error of list" [hidden]="errors[error.name] == null") {{ error.message }}
p(*ngIf="errors == null || !show", [ngClass]="strongClass") {{ strongText }}
