div.check-password-indicator([ngClass]="strongClass")
  span
  span
  span
  span
invalid-message([errors]="errors", [list]="list", [show]="show")
p(*ngIf="errors == null || !show", [ngClass]="strongClass") {{ strongText }}
