div.menu-block([ngClass]="{'checked': ischecked }")
  a(*ngIf="url != undefined", [routerLink]="url", routerLinkActive="active") 
    img([src]="icon", *ngIf="icon != undefined", class="icon")
    p.text-label {{title}}
  a(*ngIf="action != undefined", (click)="action()")
    img([src]="icon", *ngIf="icon != undefined", class="icon")
    p.text-label {{title}}
