div.top-block.top-block-style
  div.container
    div.row.jc-fs.nav-block
      include header_blocks/logo_block.pug
      div.col-md-4.in-flex.col-sm-3.col-xs-3.pages-block
        include header_blocks/burger_block.pug
        div.row.hidden-sm.hidden-xs(*ngIf="isAccess")
          menu-block(*ngFor='let element of pages; let i = index; trackBy: trackByFn', [title]="element.title", [ischecked]="element.ischecked", [url]="element.url", [icon]="element.icon", [class]="element.css", [action]="element.action")
      div.col-md-5.d-flex.col-sm-6.jc-fe.right-block
        div.row
          menu-block([title]="addProject.title", [ischecked]="addProject.ischecked", [url]="addProject.url", [icon]="addProject.icon", [class]="addProject.css", [action]="addProject.action", *ngIf="isAccess")
          user-small-info([event]="event", [userValue]="user", *ngIf="isAccess")
          //-include header_blocks/language_block.pug
          include header_blocks/sign_buttons.pug


