div.windows-options(*ngIf="!close")
  ul 
    li
      a(routerLink="/profile" routerLinkActive="active") {{ data.name || data.email }}
    //-li
      a(routerLink="/settings" routerLinkActive="active") Settings
    li((click)="logout()") Sign Out