div.col-md-3.col-sm-3.col-xs-3.logo-block-parent
  a.logo-block.jc-fs-xs.jc-sa-md(routerLink="/")
    img.logo-icon.hidden-sm.visible-xs-block.visible-md-block.visible-lg-block(src="assets/logo.svg")
    img.logo-title.hidden-xs(src="assets/logo-title.svg")
