div.app-block([ngClass]="{'visitor': !isAccess, 'in-system': isAccess }")
  //-app-modal-center
  //-img-gallery
  div.top-block.top-block-style
    div.container
      top-nav
  router-outlet
footer.end-part
  div.container
    div.clearfix
    hr
    p.text-center © 2016 Controlio (ridiculously simple status report system)
