@import 'helpers/sass.scss';
@import 'partial/svg/SvgComponent.scss';
@import 'Button.scss';
@import 'helpers/form-elements/file-upload.scss';
@import 'icon.scss';


.f-wrap {
  flex-wrap: wrap;
}

.app-block {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 76px;
}

.align-center {
  align-self: center;
}

.mb-footer {
	margin-top: 240px;
	height: 48px;
	background: #fff;
	width: 100%;
	border-top: 1px solid #cfcfcf;
}

.logo-block:before, .logo-block:after {
    content: '';
}

.link-block .author .photo-mini {
  border-width: 0;
}

.js-is-used-limit {
    color: #ff8d8d;
    font-weight: bold;
}

.menu-block::hover {
  background: #edeeef;
}

.active .menu-block {
  background: red;
}


.right-block .add-projects .menu-block a {
  padding-right: 15px;
}


.right-block .add-projects {
  padding-right: 0;
}
