div
	form.form-modal.form-block
		h1 Account Recovery
		p.subtitle Enter your email address and we'll help you reset your password.
		div.input-block
			label.context(for="email") Email
			input(name="email", placeholder="Your email", type="email")
		button.cbutton(type="submit") Recover
		a.under-link Back to sign in